.navbar {
    .container-fluid {
    text-align: center;
    }
    .navbar-nav {
        display: inline-block;
        vertical-align: middle;
        float: none;
        li {
            float: left;
            font-weight: bold;
        }
    }
}

.navbar .navbar-collapse {
    text-align: center;
}